<footer>
    <div class="pie-de-pagina">
        <p>&copy; 2023 Mood Live. Todos los derechos reservados.</p>
        <div class="redes-sociales">         
            <a href="https://www.instagram.com/moodliveok/" class="icono-instagram"><i class="bi bi-instagram"></i></a>          
            <a href="https://www.facebook.com/MoodLiveOk" class="icono-facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://wa.me/2996136663" class="icono-wpp"><i class="bi bi-whatsapp"></i></a>
        </div>
    </div>
 </footer>
