<h1>CONTACTATE CON NOSOTROS</h1>
<div class="formulario">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput" class="labelinput">Direccion de Email</label>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text labelinput">@</span>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Username">
            <label for="floatingInputDisabled"  class="labelinput">Nombre</label>
        </div>
    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2"  class="labelinput">Comentario</label>
    </div>
    <button type="button" class="btn btn-outline-light btnform">ENVIAR</button>
</div>

<div class="contacto">
    <div>
        <h4>DIRECCION</h4>
        <p>NEUQUÉN,MINISTRO GONZÁLEZ 40, NEUQUÉN CAPITAL.</p>
    </div>
    <div>
        <h4>HORARIO DE BOLETERÍA</h4>
        <ul>
            <li>Turno mañana de lunes a viernes de 10 a 14 hs</li>
            <li>Fines de semana sujeto a eventos.</li>
        </ul>
    </div>
    <div>
        <h4>MAIL</h4>
        <p>INFO@MOODLIVE.COM.AR</p>
    </div>
</div>
<div class="contiframe">
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.7901603040063!2d-68.06094732551665!3d-38.951621971712484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a33196ae9bf47%3A0x8935eaa087a2d345!2sMood%20Live!5e0!3m2!1ses-419!2sar!4v1696026710189!5m2!1ses-419!2sar"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade" class="mapa"></iframe>
</div>